/** SIDEBAR
===================================*/
.case-category{
	background-color: white;
	border: 1px solid #f04c24;
	margin-bottom: 30px;
	ul, li{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	ul{
		li{
			a{
				position: relative;
				display: block;
				padding: 18px 54px 18px 35px;
				background-color: white;
				color: #f04c24;
				font-family: 'quicksandlight';
  				font-weight: normal;
  				font-size: 18px;
  				line-height: 1.5em;
  				@media screen and (min-width: 62em){
  					font-size: 24px;
  				}
  				border-bottom: 1px solid #f05a34;
  				transition: all 0.3s ease;
  				-moz-transition: all 0.3s ease;
  				-webkit-transition: all 0.3s ease;
  				.fa{
					position: absolute;
					right: 25px;
					top: 33%;
					font-size: 0.8em;
  				}

  				&:hover{
  					color: white;
					background-color: #f04c24;
  				}
			}

			&.active{
				a{
					color: white;
					background-color: #f04c24;
				}
			}

			&:last-child{
				a{
					border: none;
				}
			}
		}
	}
}