/** BLOG
===================================*/
.hero-subscribe{
	background-color: #425057;
	color: white;
	@include background-size(cover);
	background-position: center center;
	background-position: fixed;
	padding-top: 5%;
	@media screen and (min-width: 62em){
		padding: 19% 0 15px;
	}
	.f-subscribe{
		max-width: 850px;
		position: relative;
		overflow: hidden;
		.form-control{
			height: 49.3px;
		}

		.btn-orange{
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	.desc{
		max-width: 550px;
		overflow: hidden;
		word-wrap: break-word;
		white-space: normal;
		margin-bottom: 30px;
	}
	h3{
		margin-bottom: 24px;
		 color: white;
	}
}

.filter-nav{
	width: 100%;
	background-color: #425057;
	ul{
		margin: 0;
		li{
			display: block;
			margin: 0 15px;
			@media screen and (min-width: 48em){
				@include inline-block();
				width: 45%;
			}
			@media screen and (min-width: 75em){
				width: auto;
			}
			&:first-child{
				@media screen and (min-width: 75em){
					margin-left: 0;
				}
			}
			a{
				font-size: 20px;
				color: white;
				display: block;
				width: 100%;
				padding: 20px 0;
				font-family: 'quicksandregular';
				position: relative;
				overflow: hidden;
				&:before{
					content: "";
					height: 5px;
					width: 100%;
					background-color: #f04c24;
					position: absolute;
					left: -100%;
					bottom: 0;
					transition:  all 0.2s linear;
					-moz-transition:  all 0.2s linear;
					-webkit-transition:  all 0.2s linear;
				}
			}

			&:hover, &.active{
				a{
					color: #f04c24;
					&:before{
						left: 0;
					}
				}
			}
		}
	}
}

.blog-item{
	margin-bottom: 50px;
	.inside{
		background-color: white;
		overflow: hidden;
		transition: all .3s linear;
		-moz-transition: all .3s linear;
		-webkit-transition: all .3s linear;
		border: 1px solid transparent;

		&:hover{
			border-color: #C6CED2;
			figure{
				img{
					filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
				filter: gray; /* IE6-9 */
				-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
				-webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
				-webkit-backface-visibility: hidden; /* Fix for transition flickering */
				}
			}
		}
	}
	figure{
		overflow: hidden;
		text-align: center;
	}
	.desc{
		padding: 30px;
		background-color: white;

		h3{
			margin: 0;
			font-size: 24px;
			font-family: 'quicksandregular';
			line-height: 1.3em;
			color: #34424b;
			margin-bottom: 25px;
		}

		.meta-post{
			font-size: 16px;
			margin-bottom: 30px;
			p{margin-bottom: 0;}

			a{
				color: #f04c24;
				&:hover{
					text-decoration: underline;
				}
			}
			.meta-date{
				color: #34424b;
			}
		}
	}
}

/** BLOG DETAIL
===================================*/
.ads-landscape{
	text-align: center;
	margin-bottom: 60px;
}

.media-holder{
	position: relative;
}

.entry-bgwhite{
	padding: 20px;
	@include clearfix();
	background-color: white;
	@media screen and (min-width: 48em){
		padding: 30px;
	}
}

.entry-title{
	color: #34424b;
	font-family: 'quicksandregular';
	font-weight: normal;
	font-size: 30px;
	margin-bottom: 1em;
}

.entry-meta{
	margin-bottom: 1.2em;
	font-size: 16px;
	a{
		color: #f04c24;
	}
	.author, .updated{
		display: block;
	}
}

.entry-video{
	overflow: hidden;
	margin: 35px 0 45px;

	figure{
		width: 269px;
		overflow: hidden;
		position: relative;
		figcaption{
		      position: absolute;
		      left: 0;
		      top: 0;
		      width: 100%;
		      height: 100%;
		      background-color: rgba(#f04c24, 0.6);
		      display: flex;
		      flex-flow: row wrap;
		      justify-content: center;
		      align-items: center;
		      text-align: center;
		      top: -200%;
		      -webkit-transition: top 0.4s;
		      -moz-transition: top 0.4s;
		      -o-transition: top 0.4s;
		      -ms-transition: top 0.4s;
		      transition: top 0.4s;
		      .fa{
		         font-size: 65px;
		         color: white;
		         @include border-radius(100%);
		         border: 6px solid white;
		         text-align: center;
		         width: 57px;
		         height: 57px;
		         overflow: hidden;
		         line-height: 37px;

		         &:before{
						font-size: 25px;
						vertical-align: middle;
		         }
		      }
		}

		@media screen and (min-width: 38em){
			float: left;
			margin-right: 28px;
		}

		&:hover{
			figcaption{
				top: 0;
			}
		}
	}

	.desc{
		overflow: hidden;
		font-family: 'quicksandbold';
		font-size: 18px;
		color: #34424b;
		font-style: italic;
		line-height: 1.3em;
		@media screen and (min-width: 48em){
			display: flex;
			align-items: center;
			flex-flow: row wrap;
			min-height: 265px;
		}
	}
}


.title-light{
	margin: 0;
	margin-bottom: 18px;
	font-family: 'quicksandregular';
	font-size: 24px;
}

.entr-inovItem{
	color: #575757;
	margin-bottom: 45px;
	h5{
		margin: 0;
		margin-bottom: 23px;
		font-family: 'quicksandbold';
		font-size: 18px;
		color: #575757;
	}
}

.ads-post{
	text-align: center;
	margin: 20px 0;
}

.author-main{
	text-align: center;
	background-color: white;
	padding: 25px; 
	@include clearfix();
	margin-bottom: 80px;
	@media screen and (min-width: 62em){
		margin-top: 100px;
	}

	.centered{
		max-width: 750px;
		@include clearfix();
		margin: 0 auto;
	}
	.author-thumb{
		width: 165px;
		overflow: hidden;
		@include border-radius(50%);
		margin: 0 auto 38px;

		img{
			@include border-radius(50%);	
		}
		@media screen and (min-width: 40em){
			margin-top: -100px;
		}
	}

	.author-title{
		margin: 0;
		margin-bottom: 20px;
		font-family: 'quicksandregular';
		font-weight: normal;
		font-size: 30px;
		color: #34424b;
	}
	.author-social{
		margin-bottom: 28px;
	}
	.author-social{
		text-align: center;
		a{
			@include inline-block();
			background-color: #3e80d1;
			color: white;
			width: 40px;
			height: 40px;
			line-height: 44px;
			font-size: 20px;
			@include border-radius(100%);
			margin : 0 4px;

			&.aut-twitter{
				background-color: #57c3e6
			}&.aut-instagram{
				background-color: #36839c
			}

			&:hover{
				background-color: #e4e3e3;
			}
		}
	}

}

.other-post{
	.title-lt{
		font-family: 'quicksandregular';
		font-weight: normal;
	}
}




