/** CASE STUDIES
===================================*/


.paginatewrap{
	text-align: center;	
	margin: 30px 0 30px;
	@media screen and (min-width: 48em){
		margin-bottom: 80px;
	}
}
.pagination{
	&.paginate-style{
		li{
			a, span{
				background: transparent;
				border: 1px solid #f04c24;
				color: #f04c24;
				font-size: 16px;
				font-family: 'quicksandbold';
				padding: 11px 19px;

				&.current, &:hover{
					background: #f04c24;
					color: white;
				}
			}

			a{
				&.prevnext{
					background: transparent;
					border: none;
					font-family: 'quicksandregular';
					line-height: 1.4em;
					padding-left: 4px;
					padding-right: 4px;

					span{
						background: transparent;
						border: none;
						font-size: 24px;
						font-family: 'quicksandregular';
						letter-spacing: -0.03em;
						color: #f04c24;
					}
				}
			}
		}
	}
}


.blogSlide{
	.slick-slide{
		margin: 0;
	}
	.slick-prev{
		left: -35px;
	}
	.slick-next{
		right: -35px;
	}
}
.bSlide-item{
	@include inline-block();
	width: 33%;

	figure{
		position: relative;
		overflow: hidden;
		text-align: center;
		figcaption{
		      position: absolute;
		      left: 0;
		      top: 0;
		      width: 100%;
		      height: 100%;
		      background-color: rgba(#f04c24, 0.6);
		      display: flex;
		      flex-flow: row wrap;
		      justify-content: center;
		      align-items: center;
		      text-align: center;
		      top: -200%;
		      -webkit-transition: top 0.4s;
		      -moz-transition: top 0.4s;
		      -o-transition: top 0.4s;
		      -ms-transition: top 0.4s;
		      transition: top 0.4s;
		      .fa{
		         font-size: 65px;
		         color: white;
		         @include border-radius(100%);
		         border: 6px solid white;
		         text-align: center;
		         width: 57px;
		         height: 57px;
		         overflow: hidden;
		         line-height: 39px;

		         &:before{
						font-size: 29px;
						vertical-align: middle;
		         }
		      }
		}

		 &:hover{
	        figcaption{
	        	background-color: rgba(#f04c24, 0.5);
	            top: 0;
	        }
	     }
	}
}
.hero-quote{
	background-color: #333e43;
	@include clearfix();
	color: white;
	text-align: center;
	padding: 7% 0 6%;

	.icon-quote{
		font-family: 'quicksandbold';
		display: block;
		line-height: 0.5em;	
		width: 60px;
		height: 40px;
		margin: 0 auto 30px;
		@media screen and (min-width: 48em){
			margin-bottom: 60px;
		}
		@include background-size(47px auto);
		background-position: center;
		background-repeat: no-repeat;
		background-image:  url("../img/quote.png");
	}

	.desc{
		max-width: 860px;
		margin: 0 auto;
		font-family: 'AvenirLTStd-Book';
		font-style: italic;
		.author{
			display: block;
			margin-top: 10px;
		}
	}
}


.white-wrap{
	@include clearfix();
	background-color: white;
	padding: 25px;
	@media screen and (min-width: 62em){
		padding: 60px 100px;
	}
}

.see-demo{
	border-top: 1px solid #eeeeee;
	@include clearfix();
	text-align: center;
	margin-top: 45px;
	padding-top: 53px;
	padding-bottom: 15px;
	@media screen and (min-width: 48em){
		margin-top: 55px;
		padding-top: 63px;
	}

	.inside{
		max-width: 550px;
		margin: 0 auto;
	}

	.title-article{
		text-align: center;
		margin-bottom: 53px;
	}

	.btn-orange{
		@media screen and (min-width: 48em){
			min-width: 360px;
			font-size: 24px;
		}
		
	}
}

.related-post{
	padding: 50px 0;
	@media screen and (min-width: 48em){
		padding: 70px 0;
	}
	
	.title-lt{
		font-family: 'quicksandregular';
		text-align: center;
		margin-bottom: 70px;
		color: #34424b;
	}
}


