/** SINGLE PAGE
===================================*/
.section-blocktext{
	overflow: hidden;

	.desc{
		text-align: center;
		font-size: 18px;
		color: #34424b;
		padding: 30px;
		display: flex;
		flex-flow: row  wrap;
		@media screen and (min-width: 48em){
			align-items: center;
			@include min-height(500px);
		}
		header{
			margin-bottom: 28px;
			h3{
				font-size: 38px;
				font-family: 'quicksandbold';
				line-height: 1em;
				margin: 0;
				margin-bottom: 7px;
				color: #091d29;
				@media screen and (min-width: 48em){
					font-size: 48px;
				}
			}
			p{
				font-size: 24px;
			}
		}
	}
}

.section-fulltext{
	margin-bottom: 50px;
	@media scree and (min-width: 62em){
		margin-bottom: 100px;
	}
	.big-thumb{
		position: relative;
		margin-bottom: 50px;
		figcaption{
			position: absolute;
			left: 0;
			bottom: 0;
			background-color: transparent;
			color: white;
			font-family: 'quicksandlight';
			font-weight: normal;
			font-size: 35px;
			word-wrap: break-word;
			white-space: normal;
			line-height: 1.1em;
			width: 100%;
			padding: 25px;
			@media screen and (min-width: 62em){
				font-size: 60px;
				padding: 35px 85px;
				line-height: 1em;
				p{
					max-width: 500px;
				}
			}
		}
	}

	.desc{
		max-width: 950px;
		margin: 5px auto;
		color: #34424b;
		line-height: 1.8em;
	}
}

.section-gallery{
	text-align: center;
	margin-top: 50px;
	@media screen and (min-width: 480px){
		text-align: left;
		margin-top: 80px;
	}

	ul{
		@include make-row();
		li{
			@include inline-block();
			vertical-align: top;
			width: 100%;
			padding: 15px;
			text-align: center;
			color: #373737;

			@media screen and (min-width: 38em){
				width: 48%;
			}

			img{
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
				filter: gray; /* IE6-9 */
				-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
				-webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
				-webkit-backface-visibility: hidden; /* Fix for transition flickering */

				transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-webkit-transition: all 0.3s ease;
			}

			&:hover{
				img{
					filter: none;
					-webkit-filter: grayscale(0%);
				}
			}
		}
	}

	.section-galleryDesc{
		text-align: center;
		padding: 30px 25px;
		line-height: 1.6em;
		font-size: 18px;
		h5{
			font-size: 25px;
			font-family: 'quicksandbold';
			line-height: 1.2em;
			margin: 0;
			margin-bottom: 24px;
			color: #091d29;
			text-transform: uppercase;
			@media screen and (min-width: 48em){
				font-size: 30px;
			}
		}

		.text-level{
			font-family: 'quicksandregular';
			font-size: 24px;
			display: block;
			line-height: 1.6em;
			margin-bottom: 8px;
		}
	}
}