//COMPASS
@import "compass";
@import "compass/css3";
@import "compass/css3/images";

//MODULES BOOTSTRAP
//VENDOR BOOTSTRAP
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* MIXINS
===================================*/
@mixin clearfix(){
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/* ==========================================
RESET BOOTSTRAP
========================================== */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*========================================
@COLOR VARIABLE
========================================*/
.cl-green {
  color: #7ac143;
}

.cl-yellow {
  color: #ffd200;
}

/*========================================
@FONT & ALIGN SETUP
========================================*/
.rgl {
  font-family: 'quicksandregular';
}

.str, b, strong {
  font-family: 'quicksandbold';
  font-weight: normal;
}

.light {
  font-family: 'quicksandlight';
  font-weight: normal;
}

.abr {
  font-family: 'AvenirLTStd-Book';
}

.pl {
  font-family: 'proxima_novalight';
  font-weight: normal;
}

.tau {
  text-transform: uppercase;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.s60 {
  font-size: 60px;
}

.s46 {
  font-size: 46px;
}

.s42 {
  font-size: 42px;
}

.s36 {
  font-size: 36px;
}

.s32 {
  font-size: 32px;
}

.s28 {
  font-size: 28px;
}

.s26 {
  font-size: 26px;
}

.s24 {
  font-size: 24px;
}

.s21 {
  font-size: 21px;
  line-height: 30px;
}

.s18 {
  font-size: 18px;
  line-height: 26px;
}

.s16 {
  font-size: 16px;
  line-height: 24px;
}

.s14 {
  font-size: 14px;
  line-height: 21px;
}

.s12 {
  font-size: 12px;
  line-height: 18px;
}

.s11 {
  font-size: 11px;
}

.lh32 {
  line-height: 32px;
}

.lh24 {
  line-height: 24px;
}

hr {
  border-color: #c4c9cb;
}

/*========================================
@MARGIN , PADDING & NO GUTTER SETUP
========================================*/
.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80, .mb90 {
  margin-bottom: 80px;
}

.mb100 {
  margin-bottom: 100px;
}

.ptd0 {
  padding: 0 !important;
}

.ptd5 {
  padding: 5px 0 !important;
}

.ptd10 {
  padding: 10px 0;
}

.ptd15 {
  padding: 15px 0;
}

.ptd20 {
  padding: 20px 0;
}

.ptd30 {
  padding: 30px 0;
}

.ptd40 {
  padding: 40px 0;
}

.ptd50 {
  padding: 50px 0;
}

.ptd60 {
  padding: 60px 0;
}

.ptd70 {
  padding: 70px 0;
}

.ptd80 {
  padding: 80px 0;
}

.ptd90 {
  padding: 90px 0;
}

.ptd100 {
  padding: 100px 0;
}

.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutter > [class*='col-'] {
  position: inherit;
  padding-right: 0;
  padding-left: 0;
}
.row.no-gutter > [class*='col-'] > [class*='col-'] {
  position: inherit;
  padding-right: 0;
  padding-left: 0;
}
.row.rw-10 {
  margin-right: -5px;
  margin-left: -5px;
}
.row.rw-10 > [class*='col-'] {
  position: inherit;
  padding-right: 5px;
  padding-left: 5px;
}
.row.rw-10 > [class*='col-'] > [class*='col-'] {
  position: inherit;
  padding-right: 5px;
  padding-left: 5px;
}

/*========================================
@HEADING SETUP
========================================*/
h1, h2, h3, h4, h5 {
  font-family: 'quicksandlight';
  font-weight: normal;
  line-height: normal;
  margin: 0 0 20px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  font-size: 14px;
}

/*========================================
@LIST SETUP
========================================*/
ul {
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 20px;
}
ul.list-none {
  font-size: inherit;
  line-height: normal;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.list-none.list-inline li {
  display: inline-block;
  padding: 0;
  vertical-align: middle;
}

/*========================================
@HYPERLINK SETUP
========================================*/
a{
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  color: #428bca;
  outline: none;
}
a:hover, a:focus {
  text-decoration: none;
  opacity: 1;
  color: inherit;
}

/*========================================
@GENERAL SETUP
========================================*/
body {
  background: #f7f7f7 url("../img/body.png") 0 0 repeat;
  font-family: 'AvenirLTStd-Book';
  font-size: 18px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  color: #34424b;
}

.wrap-inner {
  padding-right: 30px;
  padding-left: 30px;
}

@media (max-width: 767px) {
  .wrap-inner {
    padding: 0;
  }
}
*:focus, *:active{
    outline: none;
}

.hero-inner{
   text-align: center;
   background-color: #425057;
   color: white;
   @include background-size(cover);
   background-position: center center;
   background-position: fixed;
   padding-top: 5%;
   @media screen and (min-width: 62em){
       padding: 15% 0 5%;
   }

   h1{
      font-size: 40px;
      font-family: 'quicksandregular';
      line-height: 1.1em;
      letter-spacing: -0.02em;
      @media screen and (min-width: 48em){
        font-size: 60px;
      }
   }
}

/*========================================
@BUTTON SETUP
========================================*/
.btn {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border-radius: 1px;
  font-size: 16px;
}
.btn:focus {
  outline: none;
}
.btn.transparent {
  font-family: 'quicksandregular';
  padding: 12px 25px;
  text-transform: uppercase;
  color: #f04d24;
  border: 1px solid #f04d24;
  background: transparent;
}
.btn.transparent:hover {
  color: #fff;
  background: #f04d24;
}
.btn.mcl {
  font-family: 'quicksandregular';
  text-transform: uppercase;
  color: #fff;
  color: #fff;
  border-radius: 1px;
  background: #f04c24;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.btn.mcl.full {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}
.btn.mcl:hover {
  color: #e5e5e5;
  background: #ee3910;
}

@media (max-width: 1200px) {
  .btn.transparent.big {
    padding: 15px 30px;
  }
}
.btn-orange {
  background: none;
  border: none;
  background: #f04c24;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 15px 25px;
  color: white;
  font: 16px 'quicksandregular';
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn-orange:hover {
  background: #011c2a;
  text-decoration: none;
  color: white;
}

/*========================================
@FORM SETUP
========================================*/
.form-control:hover, .form-control:focus {
  -webkit-transition: none;
  -moz-transition: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input:hover, input:focus {
  -webkit-transition: none;
  -moz-transition: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

textarea:hover, textarea:focus {
  -webkit-transition: none;
  -moz-transition: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input, select {
  outline: none !important;
}

input.form-control {
  font-family: quicksandlight;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  outline: none !important;
  background-color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input.form-control:hover, input.form-control:focus, input.form-control:active {
  outline: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

select.form-control:hover, select.form-control:focus, select.form-control:active {
  outline: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

textarea.form-control {
  font-size: 14px;
  line-height: 1.428571429;
  display: block;
  width: 100%;
  min-height: 100px;
  padding: 6px 12px;
  vertical-align: middle;
  color: #555;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
textarea.form-control:hover, textarea.form-control:focus, textarea.form-control:active {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/*========================================
@IMAGE SETUP
========================================*/
img {
  width: auto\9;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  border: 0;
}

/** GENERAL
===================================*/
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/** TITLE AND TEXT
===================================*/
.text-orange {
  color: #f04d24;
}

.title-compact {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 48px;
  font-family: 'quicksandlight';
  line-height: 0.9em;
  letter-spacing: -0.08em;
}
@media screen and (min-width: 48em) {
  .title-compact {
    font-size: 68px;
  }
}
.title-compact strong {
  font-family: 'quicksandregular';
  font-weight: normal;
}

.title-numb {
  font: 36px 'quicksandlight';
  line-height: 1em;
  color: #34424b;
  margin-bottom: 15px;
}
.title-numb h1 {
  margin: 0;
  margin-bottom: 8px;
  font-weight: normal;
  font: 70px 'quicksandregular';
  line-height: 0.9em;
  color: #34424b;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  letter-spacing: -0.09em;
}
@media screen and (min-width: 48em) {
  .title-numb h1 {
    font-size: 90px;
    margin-right: 15px;
  }
}
.title-numb p {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-bottom: 15px;
}

.title-lt, .prod-name {
  font: 36px 'quicksandlight';
  line-height: 1em;
  color: #555555;
  margin: 0;
  margin-bottom: 18px;
}

.title-lt{
  margin-bottom: 35px;
}

.title-lg {
  font: 50px 'quicksandlight';
  line-height: 0.9em;
  color: #555555;
  margin: 0;
  margin-bottom: 18px;
}
@media screen and (min-width: 82em) {
  .title-lg {
    font-size: 70px;
  }
}

.title-md {
  font: 50px 'quicksandlight';
  line-height: 0.9em;
  color: #091d29;
  margin: 0;
  margin-bottom: 38px;
  text-align: center;
}
@media screen and (min-width: 62em) {
  .title-md {
    font-size: 72px;
  }
}

.title-article{
    font: 35px 'quicksandlight';
    line-height: 1.1em;
    color: #34424b;
    margin: 0;
    margin-bottom: 58px;
}
@media screen and (min-width: 62em) {
  .title-article {
    font-size: 48px;
  }
}

blockquote{
  color: #34424b;
  font-size: 20px;
  line-height: 1.5em;
  font-style: italic;
  border: none;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 30px 25px;
  margin: 20px 0;
  @media screen and (min-width: 48em){
    font-size: 24px;
    padding: 60px 50px;
  }
}

/** LAYOUT;
===================================*/
/*@media (min-width: 1430px){
  .container{
    width: 1400px;
    max-width: 1440px;
  }
}

@media (min-width : 1680px) {
  .container{
      width: 1660px;
  }
}

@media screen and (min-width: 1800px){
 .container{
    width: 90%;
 }
}*/
/*==== CHECKBOX DAN RADIO ======*/
.radio label {
  padding-left: 0;
  width: 100%;
  font-weight: 400;
  color: #61676b;
}
.radio input[type="checkbox"] {
  margin-top: 7px;
}

input[type="radio"] {
  display: none;
}

/*====== RADIO ======*/
input[type="radio"] + label span {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 3px 10px 0 0;
  vertical-align: middle;
  background: url("../img/radio_empty.png") 0 0 no-repeat;
  cursor: pointer;
  float: left;
  background-size: 15px auto;
  -moz-background-size: 15px auto;
  -webkit-background-size: 15px auto;
}

input[type="radio"]:checked + label span {
  background: url("../img/radio_fill.png") 0 0 no-repeat;
  background-size: 15px auto;
  -moz-background-size: 15px auto;
  -webkit-background-size: 15px auto;
}

/** THUMBNAILS
===================================*/
.thumb-left {
  margin: 0 auto 20px;
  text-align: center;
}
@media screen and (min-width: 62em) {
  .thumb-left {
    float: left;
    margin: 0;
    margin-right: 25px;
    text-align: left;
  }
}

.thumb-right {
  margin: 0 auto 20px;
  text-align: center;
}
@media screen and (min-width: 62em) {
  .thumb-right {
    float: right;
    margin: 0;
    margin-left: 25px;
    text-align: right;
  }
}

.thumb-center {
  text-align: center;
  margin: 0 auto 25px;
}

.thumbGroup {
  width: 525px \9;
  max-width: 525px;
  position: relative;
}
.thumbGroup .thumb-tablet {
  position: absolute;
  bottom: -55px;
  right: auto;
  max-width: 75%;
}
@media screen and (min-width: 62em) {
  .thumbGroup {
    margin-right: 135px;
  }
  .thumbGroup .thumb-tablet{
     right: -130px;
  }
}

.thumb-leftMain {
  position: relative;
}

/** SPACE
===================================*/
.space15 {
  height: 15px;
  display: block;
  width: 100%;
}

.space20 {
  height: 20px;
  display: block;
  width: 100%;
}

.space30 {
  height: 30px;
  display: block;
  width: 100%;
}

.space45 {
  height: 45px;
  display: block;
  width: 100%;
}

.space60 {
  height: 60px;
  display: block;
  width: 100%;
}

.space170 {
  height: 80px;
  display: block;
  width: 100%;
}
@media screen and (min-width: 62em){
  .space170{
      height: 170px;
  }
}

/*MENU ===================================================================*/
.menu-wrap {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 0;
}
@media (min-width: 992px) {
  .menu-wrap {
    float: left;
    width: 82%;
  }
}
@media screen and (min-width: 62em) {
  .menu-wrap {
    margin-top: 40px;
  }
}

#menu {
  zoom: 1;
}
#menu:before {
  content: "";
  display: table;
}
#menu:after {
  content: "";
  display: table;
  clear: both;
}
#menu ul li {
  padding: 0;
  margin: 0;
}
#menu li {
  display: inline-block;
  position: relative;
}
#menu a {
  float: left;
  padding: 12px 25px;
  color: white;
  text-transform: uppercase;
  font: 16px 'quicksandregular';
  text-decoration: none;
}
@media screen and (min-width: 62em) {
  #menu a {
    padding: 12px 17px;
    font-size: 20px;
  }
}
#menu li:hover > a, #menu li.active a {
  color: #f04d24;
}
#menu ul {
  margin: 20px 0 0 0;
  _margin: 0;
  /*IE6 only*/
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 38px;
  left: 0;
  z-index: 1;
  background: #444;
  background: -moz-linear-gradient(#444444, #111111);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#111111));
  background: -webkit-linear-gradient(#444444, #111111);
  background: -o-linear-gradient(#444444, #111111);
  background: -ms-linear-gradient(#444444, #111111);
  background: linear-gradient(#444444, #111111);
  -moz-box-shadow: 0 -1px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
#menu li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
}
#menu ul ul {
  top: 0;
  left: 150px;
  margin: 0 0 0 20px;
  _margin: 0;
  /*IE6 only*/
  -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
}
#menu ul li {
  float: none;
  display: block;
  border: 0;
  _line-height: 0;
  /*IE6 only*/
  -moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
  -webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
  box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}
#menu ul li:last-child {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#menu ul a {
  padding: 10px;
  width: 130px;
  _height: 10px;
  /*IE6 only*/
  display: block;
  white-space: nowrap;
  float: none;
  text-transform: none;
}
#menu ul a:hover {
  background-color: #0186ba;
  background-image: -moz-linear-gradient(#04acec, #0186ba);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
  background-image: -webkit-linear-gradient(#04acec, #0186ba);
  background-image: -o-linear-gradient(#04acec, #0186ba);
  background-image: -ms-linear-gradient(#04acec, #0186ba);
  background-image: linear-gradient(#04acec, #0186ba);
}

/*========================================
@HEADER SETUP
========================================*/
#header {
  background: #445259;
  padding: 20px 0;
  text-align: center;
}
#header:before, #header:after {
  content: " ";
  display: table;
}
#header:after {
  clear: both;
}
@media screen and (max-width: 48em) {
  #header #menu {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 48em) {
  #header {
    text-align: left;
  }
}
@media screen and (min-width: 62em) {
  #header.headFixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    margin: 0;
    text-align: left;
  }
}

.logo-sub {
  overflow: hidden;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .logo-sub {
    float: left;
    width: 18%;
    margin-top: 18px;
  }
}
.logo-sub figure {
  max-width: 110px;
  margin: 0 auto 25px;
}
@media screen and (min-width: 48em) {
  .logo-sub figure {
    margin: 0;
  }
}

.app-header {
  margin-top: 62px;
}

@media (max-width: 1200px) {
  .app-header {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .app-header {
    padding: 0 20px;
  }
}
/** INTRO
===================================*/
.hero {
  background-color: #445259;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  overflow: hidden;
}
@media screen and (min-width: 62em) {
  .hero {
    height: 655px;
    overflow: hidden;
  }
}

.hero-content {
  padding: 12%  0;
  color: white;
  font-family: 'quicksandlight';
}
@media screen and (min-width: 62em) {
  .hero-content {
    padding: 25.5% 0 17%;
  }
}
.hero-content h1 {
  margin: 0;
  margin-bottom: 5px;
  line-height: 0.9em;
  font-family: 'quicksandregular';
  font-weight: normal;
  font-size: 50px;
  color: white;
  letter-spacing: -0.05em;
  margin-left: -6px;
}
@media screen and (min-width: 48em) {
  .hero-content h1 {
    font-size: 90px;
  }
}
.hero-content p {
  font-size: 30px;
  line-height: 1.3em;
}

.hero-content-alt, .hero-content-alt2{
  padding: 30%  0;
  color: white;
  text-align: center;
}
.hero-content-alt h1, .hero-content-alt2 h1 {
  margin: 0;
  font-family: 'quicksandregular';
  font-weight: normal;
  line-height: 1em;
  font-size: 50px;
  letter-spacing: -0.08em;
}
@media screen and (min-width: 62em) {
  .hero-content-alt, .hero-content-alt2 {
    padding: 25% 0 10%;
  }
  .hero-content-alt h1, .hero-content-alt2 h1 {
    font-size: 88px;
  }
}

.hero-content-alt2 h1 {
  margin-bottom: 10px;
}
@media screen and (min-width: 48em) {
  .hero-content-alt2 h1 {
    font-size: 70px;
  }
}
.hero-content-alt2 h3 {
  margin: 0;
  font-family: 'quicksandlight';
  font-size: 30px;
  line-height: 1em;
}
@media screen and (min-width: 48em) {
  .hero-content-alt2 h3 {
    font-size: 35px;
  }
}

/*========================================
@FOOTER SETUP
========================================*/
footer .footer-navigation {
  text-align: center;
}
footer .footer-navigation ul li {
  line-height: 12px;
  border-right: 1px solid;
  padding-left: 2%;
  padding-right: 2%;
}
footer .footer-navigation ul li:last-child {
  border: none;
}
footer .footer-navigation ul li a {
  color: #545667;
}
footer .footer-navigation ul li a:hover {
  color: #f04c24;
}
footer h5 {
  font-family: 'AvenirLTStd-Book';
  text-align: center;
  padding: 15px;
  line-height: 1.6em;
}
footer h5 span {
  font-weight: bold;
  color: #f04c24;
}

/*========================================
@NAVIGATION SETUP
========================================*/
.menu {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 21px;
  color: #fff;
  z-index: 999;
}

@media screen and (min-width: 1200px) {
  .navigation {
    text-align: right;
  }
}
@media (max-width: 1200px) {
  .navigation ul {
    margin: 0;
  }
}
.navigation ul li a {
  font-family: 'quicksandregular';
  display: block;
  padding: 25px 15px;
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
}
.navigation ul li.active a, .navigation ul li:hover a {
  color: #f04d24;
}

@media (max-width: 1200px) {
  .navigation {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 205px;
    height: 100%;
    margin-left: 0;
    padding: 20px 0;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transform: translate3d(-205px, 0, 0);
    -moz-transform: translate3d(-205px, 0, 0);
    -ms-transform: translate3d(-205px, 0, 0);
    -o-transform: translate3d(-205px, 0, 0);
    transform: translate3d(-205px, 0, 0);
    border-right: 1px solid #eee;
    background-color: #fff;
  }
  .navigation.open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .navigation ul li {
    width: 100%;
  }
  .navigation ul li a {
    padding: 10px 20px;
    border: 0;
    color: black !important;
  }
  .navigation ul li.active a, .navigation ul li:hover a {
    color: white !important;
    border: 0;
    background-color: #f04c24 !important;
  }
}
/*========================================
@LOGO
========================================*/
.logo {
  margin-top: -16em;
  overflow: hidden;
}

@media screen and (min-width: 48em) {
  .logo {
    max-width: 90px;
  }
}
@media (max-width: 1200px) {
  .logo {
    width: 25%;
    margin: 0 auto;
  }
}
/*========================================
@BANNER SETUP
========================================*/
.banner {
  position: relative;
  padding: 25% 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner.main {
  padding: 20em 0;
}
@media screen and (min-width: 62em) {
  .banner.main {
    min-height: 780px;
  }
}
.banner.mini {
  padding: 16em 0;
}
.banner.mini h4 {
  font-size: 20px;
  color: #fff;
}
.banner.mini h3 {
  font-size: 40px;
  color: #f04c24;
}
.banner.mini h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
}
.banner.mini h6 {
  color: #fff;
}
.banner.mini h6 a {
  color: #fff;
}
.banner.gray {
  padding: 18% 0;
  background: #929597;
}
@media screen and (max-width: 62em) {
  .banner.gray {
    margin-top: 40px;
  }
}
.banner.gray.first {
  padding: 5em 0 2em;
}
.banner.gray.scnd {
  padding: 50px 0 40px;
}
.banner.gray.thrid {
  padding: 4em 0;
}
.banner.gray.thrid h4 {
  font-size: 20px;
  color: #fff;
  position: relative;
  display: block;
  position: relative;
  padding-bottom: 12px;
}
.banner.gray.thrid h4:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4.2%;
  height: 3px;
  background: #ffffff;
}
.banner.gray.thrid h3 {
  font-size: 40px;
  color: #484c4f;
  font-family: 'quicksandregular';
  line-height: 1em;
}
.banner.gray.thrid h3 sup {
  font-size: 25px;
  position: relative;
  vertical-align: top;
  font-family: 'quicksandregular';
  top: 17px;
  margin-left: 10px;
}
@media screen and (min-width: 48em) {
  .banner.gray.thrid h3 {
    font-size: 60px;
  }
  .banner.gray.thrid h3 sup {
    font-size: 35px;
  }
}
.banner.gray.thrid h2 {
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
  line-height: 1.2em;
  font-family: 'quicksandregular';
}
@media screen and (min-width: 48em) {
  .banner.gray.thrid h2 {
    font-size: 44px;
  }
}
.banner.gray.thrid h6 {
  font-size: 24px;
  color: #fff;
  font-family: 'quicksandlight';
  margin: 0;
}
.banner.gray.thrid h6 a {
  color: #fff;
}
.banner.gray.thrid h6 a:hover {
  color: #484c4f;
}

.form-desc {
  color: #545667;
  font-size: 18px;
  font-size: 18px;
  line-height: 1.5em;
}
.form-desc strong {
  color: #545667;
}
@media screen and (min-width: 62em) {
  .form-desc {
    margin-right: 50px;
    max-width: 520px;
    float: right;
    text-align: right;
  }
}

@media (max-width: 1200px) {
  .banner {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .banner.main {
    margin-bottom: 0;
  }
}
@media (max-width: 1200px) {
  .banner.main {
    padding: 25% 0;
  }
}
@media (max-width: 767px) {
  .banner.mini {
    margin-bottom: 0;
    padding: 37% 0;
  }
}
@media (max-width: 767px) {
  .banner.gray.first {
    padding: 0;
  }
}
/*========================================
@TEXT-BANNER
========================================*/
.text-banner {
  position: absolute;
  margin-top: -19em;
}
.text-banner.main {
  margin-top: -29em;
}
.text-banner.main h2 {
  font-family: 'quicksandregular';
  font-size: 54px;
  margin-bottom: 0;
  color: #fff;
  margin-left: -4px;
}
@media screen and (min-width: 62em) {
  .text-banner.main h2 {
    font-size: 80px;
  }
}
.text-banner.main h2 span {
  color: #f05a34;
}
.text-banner.main h5 {
  font-family: 'quicksandregular';
  font-size: 20px;
  color: #fff;
}
@media screen and (min-width: 62em) {
  .text-banner.main h5 {
    font-family: 'quicksandlight';
    font-size: 36px;
  }
}

.bannerMain-desc {
  position: relative;
}

@media (max-width: 1200px) {
  .text-banner.main {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .content-image.device-one .inner {
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .text-banner.main h2 {
    color: #000;
  }
}
@media screen and (min-width: 75em) {
  .text-banners.scnd {
    padding-top: 65px;
  }
}
@media (max-width: 1200px) {
  .text-banner.main h5 {
    color: #000;
  }
}
.text-banners.scnd h3 {
  font-size: 30px;
  margin-bottom: 0;
  color: #fff;
}
.text-banners.scnd h2 {
  font-size: 54px;
  margin-bottom: 0;
  color: #fff;
}

@media screen and (max-width: 62em) {
  .banner.gray.first {
    padding: 2em 0;
  }

  .text-banners.scnd h2 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .text-banners.scnd {
    position: relative;
    top: 0;
    float: none;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .text-banner.scnd {
    top: 10%;
    right: 0;
    left: 0;
  }
}
@media (max-width: 767px) {
  .text-banner.scnd h3 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .text-banners.scnd h2 {
    font-size: 25px;
  }
}
/*========================================
@CONTENT IMAGE
========================================*/
.content-image {
  position: absolute;
}
.content-image .inner {
  max-width: 700px;
  text-align: center;
}
.content-image .inner .link {
  position: relative;
  z-index: 1;
}
.content-image.device-one {
  bottom: -128px;
  left: 0;
}
.content-image.device-one .inner {
  max-width: 650px;
  position: relative;
  z-index: 5;
  text-align: center;
}
@media screen and (min-width: 62em){
    .content-image.device-one .inner {
          margin-left: -48px;
    }
}
.content-image.device-one .inner .link:before {
 position: absolute;
    top: -49px;
    right: 0;
    left: 0;
    width: 1px;
    height: 50px;
    margin: auto;
    content: '';
    background: #f05a34 none repeat scroll 0 0;
}
.content-image.device-one .inner img {
  /*box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;*/
  position: relative;
  z-index: 10;
}
.content-image.device-one .btn.transparent {
  font-size: 20px;
  min-width: 255px;
  position: relative;
}
.content-image.device-one .btn.transparent:after {
  content: '';
  width: 35px;
  height: 18px;
  background: transparent url("../img/arrow_orange.png") 0 0 no-repeat;
  position: absolute;
  right: -15px;
  top: 45%;
  background-size: 35px auto;
  -moz-background-size: 35px auto;
  -webkit-background-size: 35px auto;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
.content-image.device-one .btn.transparent:hover:after {
  right: -30px;
}
.content-image.device-scnd {
  z-index: 1;
  right: 0;
}
.content-image.device-scnd .inner {
  text-align: right;
}

@media (max-width: 1200px) {
  .content-image.device-one {
    position: relative;
    top: 0;
    left: 0;
  }
}
@media (max-width: 1200px) {
  .content-image.device-one .inner .link:before {
    top: -24px;
    height: 35%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .content-image.device-scnd {
    position: absolute;
    left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .content-image.device-scnd .arrow {
    margin-right: 142px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .content-image.device-scnd {
    top: 190px;
  }
}
@media (max-width: 767px) {
  .content-image.device-scnd {
    position: relative;
    left: 0;
    top: 0;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .content-image.device-scnd .inner {
    padding-right: 85px;
  }
}
@media (max-width: 767px) {
  .content-image.device-scnd .inner img.arrow {
    display: none;
  }
}
/*========================================
@ARTICLE CONTENT
========================================*/
.article-content {
  margin: auto;
  padding-top: 55px;
  padding-bottom: 90px;
  color: #34424b;
}
.article-content h2 {
  font-size: 47px;
  text-align: right;
  line-height: 1em;
  margin: 0;
}
@media screen and (min-width: 62em) {
  .article-content h2 {
    font-size: 72px;
  }
}
.article-content .content-text {
  font-family: 'AvenirLTStd-Book';
  float: left;
  font-size: 18px;
  line-height: 1.7em;
  padding-top: 18px;
  max-width: 600px;
}
.article-content p {
  line-height: 1.7em;
}

@media (max-width: 767px) {
  .article-content h2 {
    text-align: center;
  }
}
/*========================================
@TEXT CONTENT
========================================*/
.text-content.first {
  margin-top: 100px;
}
.text-content h2 {
  font-size: 40px;
}
.text-content.your-menu {
  padding-top: 50px;
}

@media screen and (min-width: 62em){
  .support-desc{
    max-width: 550px;
  }

}



/*========================================
@SECTION
========================================*/
.section {
  position: relative;
  width: 100%;
  margin-bottom: 3em;
  padding-top: 101px;
}
.section .image-content.right {
  position: relative;
  margin: 0 auto 30px;
  width: 100%;
  max-width: 570px;
  text-align: left;
}
@media screen and (min-width: 62em) {
  .section .image-content.right {
    float: right;
  }
}
.section .image-content.right.form-content {
  z-index: 99;
  margin-top: -359px;
  position: relative;
}
.section .image-content.right.form-content:before, .section .image-content.right.form-content:after {
  content: " ";
  display: table;
}
.section .image-content.right.form-content:after {
  clear: both;
}
.section .image-content.right.form-content form {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0 3px 100px rgba(136, 136, 136, 0.58);
  -moz-box-shadow: 0 3px 100px rgba(136, 136, 136, 0.58);
  box-shadow: 0 3px 100px rgba(136, 136, 136, 0.58);
  position: relative;
  overflow: hidden;
}
.section .image-content.right.form-content form:before {
  content: '';
  position: absolute;
  z-index: 0;
  top: -47px;
  right: -78px;
  width: 187px;
  height: 187px;
  background: transparent url("../img/marked.png") 0 0 no-repeat;
  background-size: 150px auto;
  -moz-background-size: 150px auto;
  -webkit-background-size: 150px auto;
}
.section .image-content.right.form-content form .inner {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background: #fff;
  padding-top: 50px;
}
.section .image-content.right.form-content form .inner label.col-sm-4.control-label {
  line-height: 4;
}
.section .image-content.right.form-content form .form-group {
  margin-bottom: 25px;
}
.section .image-content.right.form-content form .form-control {
  font-size: 20px;
  font-family: 'quicksandlight';
  height: 38px;
  padding: 6px 5px;
  color: #61676b;
}
.section .image-content.right.form-content form .form-control::-webkit-input-placeholder {
  color: #61676b;
}
.section .image-content.right.form-content form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #61676b;
}
.section .image-content.right.form-content form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #61676b;
}
.section .image-content.right.form-content form .form-control:-ms-input-placeholder {
  color: #61676b;
}
.section .image-content.right.form-content form .label, .section .image-content.right.form-content form label {
  font-family: 'quicksandlight';
  font-weight: 400;
  color: #61676b;
}
.section .image-content.right .inner .arrow {
  position: absolute;
  bottom: -155px;
  left: -105px;
}
.section .text-content.left {
  float: right;
  width: 32%;
  padding: 56px 0;
  text-align: right;
}
.section .text-content.left.form-content {
  margin-right: 40px;
  padding: 0;
}
.section .image-content.left {
  position: relative;
  float: left;
  width: 50%;
}
.section .text-content.right {
  float: left;
  width: 32%;
  padding: 75px 0;
  text-align: left;
}
.section .text-content.abs {
  position: absolute;
  top: 0;
  right: 0;
  width: 46%;
  padding: 75px 0;
}
.section .text-content.abs h2 {
  font-size: 49px;
  position: absolute;
  top: 53px;
  left: -58px;
  color: #f04c24;
}
.section .text-content.abs h2 span img.arrow {
  position: absolute;
  bottom: 0;
  left: 0;
}
.section .text-content.abs h3 {
  font-size: 30px;
  position: absolute;
  top: 34px;
  left: -55px;
}
.section .text-content.abs h4 {
  font-size: 26px;
  position: absolute;
  top: 120px;
  left: -19px;
}
.section .text-content.abs p span.line-first {
  position: absolute;
  top: 153px;
  left: 0;
}
.section .text-content.abs p span.line-scnd {
  position: absolute;
  top: 172px;
  left: 11px;
}
.section .text-content.abs p span.line-third {
  position: absolute;
  top: 192px;
  left: 32px;
}

.tac.ptd20.form-emailText {
  margin-bottom: 0;
}
.tac.ptd20.form-emailText h4 {
  margin-bottom: 0;
}
.tac.ptd20.form-emailText p {
  margin-bottom: 0;
}

/* ================== */
@media (min-width: 480px) and (max-width: 1200px) {
  .section .image-content.right.form-content {
    /* margin-top: -197px; */
    margin-top: -147px;
  }
}
@media (max-width: 480px) {
  .section .image-content.right.form-content {
    z-index: 99;
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .section .image-content.right {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .section .image-content.right .inner .arrow {
    display: none;
  }
}
@media (max-width: 480px) {
  .section .text-content.left.form-content {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
@media (min-width: 62em) and (max-width: 1200px) {
  .section .text-content.left.form-content {
    width: 28%;
  }
}
@media (min-width: 480px) and (max-width: 1200px) {
  .section .text-content.left {
    padding: 0;
  }
}
@media (max-width: 480px) {
  .section .text-content.left {
    padding: 0;
    text-align: left;
  }
}
@media (min-width: 480px) and (max-width: 1200px) {
  .section .text-content.left {
    float: right;
    width: 50%;
  }
}
@media (max-width: 480px) {
  .section .text-content.left {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .section .image-content.left {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .section .text-content.right {
    padding: 0;
    text-align: left;
  }
}
@media (min-width: 480px) and (max-width: 1200px) {
  .section .text-content.right {
    float: left;
    width: 50%;
    padding: 35px 0;
  }
}
@media (max-width: 480px) {
  .section .text-content.right {
    width: 100%;
  }
}
/*.section .image-content.left.scnd
{
    top: 15em;

    width: 79%;
}*/
@media (max-width: 1200px) {
  .section .image-content.left.scnd {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .section .text-content.abs {
    position: relative;
    width: 100%;
    padding: 175px 0;
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .section .text-content.abs h2 {
    position: relative;
    top: 0;
    left: 0;
  }
}
@media (max-width: 1200px) {
  .section .text-content.abs h2 {
    font-size: 41px;
  }
}
@media (max-width: 1200px) {
  .section .text-content.abs h3 {
    position: relative;
    top: 0;
    left: 0;
  }
}
@media (max-width: 1200px) {
  .section .text-content.abs h4 {
    position: relative;
    top: 0;
    left: 0;
  }
}
@media (max-width: 1200px) {
  .section .text-content.abs p span.line-first {
    position: relative;
    top: 0;
    left: 0;
  }
}
@media (max-width: 1200px) {
  .section .text-content.abs p span.line-scnd {
    position: relative;
    top: 0;
    left: 0;
  }
}
@media (max-width: 1200px) {
  .section .text-content.abs p span.line-third {
    position: relative;
    top: 0;
    left: 0;
  }
}
img.line {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  padding-top: 24px;
}

/*========================================
@NETWORK
========================================*/
.network .card {
  margin-bottom: 55px;
}
.network h2 {
  font-family: 'quicksandlight';
  font-size: 72px;
  margin-bottom: 90px;
  text-align: center;
  color: #fff;
  line-height: 1em;
}
.network .card img {
  float: left;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 12px;
}
@media screen and (min-width: 38em) {
  .network .card img {
    padding: 20px;
  }
}
.network .card .desc {
  overflow: hidden;
  padding-left: 15px;
}
@media screen and (min-width: 48em) {
  .network .card .desc {
    padding-left: 30px;
  }
}
.network .card .image {
  float: left;
}
@media screen and (min-width: 38em) {
  .network .card .image {
    width: 130px;
    margin-top: 7px;
  }
}
.network .card .desc h4 {
  font-family: 'quicksandlight';
  font-size: 23px;
  margin-bottom: 18px;
  color: #484c4f;
}
@media screen and (min-width: 62em) {
  .network .card .desc h4 {
    font-size: 30px;
    margin-bottom: 22px;
  }
}
.network .card .desc p {
  font-family: 'AvenirLTStd-Book';
  color: #fff;
}

@media (max-width: 767px) {
  .network h2 {
    font-size: 45px;
    margin-bottom: 25px;
  }
}
/*========================================
@grunge
========================================*/
.grunge {
  position: absolute;
  width: 100%;
  margin-top: -1%;
}

.grunge-top {
  position: absolute;
  z-index: 1;
  width: 100%;
}

/** ADDITIONAL AAT
===================================*/
.img-rotate {
  display: inline-block;
}
@media screen and (min-width: 75em) {
  .img-rotate {
    margin-bottom: -173px;
  }
  .img-rotate img {
    transform: rotate(43deg);
    -moz-transform: rotate(43deg);
    -webkit-transform: rotate(43deg);
  }
}

.sec-simSubsc {
  position: relative;
  padding-top: 5%;
  margin-top: 20px;
  margin-bottom: 0.8em;
}

.limitArea {
  padding-top: 30px;
}

.sec-simSubsc-thumb {
  margin-bottom: 35px;
  text-align: center;
}
@media screen and (min-width: 75em) {
    .sec-simSubsc-thumb {
      padding-top: 7%;
      margin: 0;
      text-align: right;
    }
    .sec-simSubsc .text-content{
        margin-top: -40px;
        margin-left: -60px;
    }
}

@media screen and (max-width: 62em) {
  .sec-simSubsc {
    text-align: center;
  }
}
.sec-simSubsc:before {
  content: '';
  display: none;
  position: absolute;
  width: 1px;
  height: 51%;
  background-color: #1c242a;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
}
@media screen and (min-width: 75em) {
  .sec-simSubsc .text-content header {
    margin-left: -143px;
    margin-bottom: 42px;
  }
}
.sec-simSubsc .text-content h3 {
  margin: 0;
  line-height: 0.9em;
  font-size: 30px;
}
@media screen and (min-width: 62em) {
  .sec-simSubsc .text-content h3 {
    font-size: 70px;
  }
}
.sec-simSubsc .text-content h2 {
  font-size: 49px;
  color: #f04c24;
  margin: 0;
  margin-bottom: 20px;
  line-height: 0.8em;
}
.sec-simSubsc .text-content h2 span {
  position: relative;
}
.sec-simSubsc .text-content h2 span img.arrow {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (min-width: 62em) {
  .sec-simSubsc .text-content h2 {
    font-size: 80px;
  }
}
@media screen and (min-width: 75em) {
  .sec-simSubsc .text-content .desc .text {
    margin-left: 25px;
  }
}
@media screen and (min-width: 75em) {
  .sec-simSubsc .text-content .desc .line-first {
    padding-left: 0;
  }
  .sec-simSubsc .text-content .desc .line-scnd {
    padding-left: 22px;
  }
  .sec-simSubsc .text-content .desc .line-third {
    padding-left: 65px;
  }
}
.sec-simSubsc .text-content h4 {
  font-size: 26px;
  margin-bottom: 15px;
}

@media screen and (min-width: 75em) {
  .sec-simSubsc {
    padding-top: 330px;
  }
}

@media screen and (min-width: 75em) {
  .sec-simSubsc:before {
    display: block;
  }
}

@media screen and (min-width: 75em){
    .sec-simSubsc .text-content h4{
      margin-left: -35px;
  }
}

.sec-simSubsc.no-line{
  padding-top: 0;
  &:before{
    display: none;
  }
}
/** MENU CONTENT
===================================*/
.menu-content {
  background-color: #909598;
}
.menu-content ul {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu-content ul li {
  position: relative;
  z-index: 10;
  border-right: 1px solid #7e8386;
  padding: 0 4% 0 3%;
  height: 88px;
  flex-grow: 1;
}
.menu-content ul li:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.menu-content ul li:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #f04d24;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.menu-content ul li a {
  color: white;
  font: 29px 'quicksandlight';
  padding: 10px 15px 13px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: auto;
  line-height: 0.9em;
  text-align: left;
}
.menu-content ul li a .small {
  font-size: 18px;
  display: block;
}
.menu-content ul li a:before {
  content: '';
  background-color: #d0d5d9;
  position: absolute;
  right: 1px;
  top: 50%;
  width: 27%;
  width: 5.8vw;
  height: 1px;
}
.menu-content ul li:last-child {
  border-right: none;
}
.menu-content ul li:hover:after, .menu-content ul li.active:after {
  height: 120%;
}
.menu-content.menuSelect {
  padding: 10px 0;
}
.menu-content.menuSelect ul {
  display: none;
}


/** RESPONSIVE MAIN MENU
===================================*/
@media screen and (max-width: 43em){
  .menu-content ul{
      display: block;
  }
  .menu-content ul li{
    display: block;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 0;
    border-bottom: 1px solid #7B8084;
  }
  .menu-content ul li a{
    font-size: 21px;
    display: block;
        padding: 16px 15px 16px;
  }
  .menu-content ul li a  small  {
      font-size: 21px;
      margin-right: 7px;
  }
  .menu-content ul li a:before{
    display: none;
  }
  .menu-content ul li:after, .menu-content ul li:before{
    display: none;
  }

  .menu-content ul li.active a{
      background-color: #f04d24;
  }
  .menu-content ul li br{
    display: none;
  }
}



.menu-content.menuSelect select {
  display: block;
  width: 98%;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 8px;
  height: 43px;
  border: 1px solid #C5C5C5;
}
@media screen and (min-width: 42em) {
  .menu-content.menuSelect {
    padding: 0;
  }
  .menu-content.menuSelect ul {
    display: flex;
  }
  .menu-content.menuSelect select {
    display: none;
  }
}

.setup-introtext {
  position: relative;
  z-index: 10;
  margin-top: 20px;
  padding: 50px 0;
}
.setup-introtext:before {
  display: none;
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 1px;
  height: 162%;
  background-color: #b5b8ca;
}
@media screen and (min-width: 62em) {
  .setup-introtext:before {
    display: block;
  }
}
.setup-introtext .setupIntro-title {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
@media (min-width: 992px) {
  .setup-introtext .setupIntro-title {
    float: left;
    width: 50%;
  }
}
.setup-introtext .setupIntro-title .title-compact {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
@media screen and (min-width: 62em) {
  .setup-introtext .setupIntro-title {
    text-align: right;
    padding-right: 40px;
  }
}
.setup-introtext .desc {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 600px;
  text-align: left;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .setup-introtext .desc {
    float: left;
    width: 50%;
  }
}
@media screen and (min-width: 62em) {
  .setup-introtext .desc {
    padding-left: 40px;
    margin: 0;
  }
}
@media screen and (min-width: 48em) {
  .setup-introtext {
    padding: 5% 0;
  }
}

/** HOMEPAGE
===================================*/
.yourMenu{
  position: relative;
}
.yourMenu .text-content {
  padding-top: 50px;
}
.yourMenu .btn {
  margin-top: 15px;
}

.yourMenu .spaceArrow{
      position: absolute;
      z-index: 1;
    top: 135px;
    left: 425px;
}



@media screen and (max-width: 75em){
  .spaceArrow{
      display: none;
  }

  .yourMenu .desc{
      width: 100%;
      float: none;
      margin-left: 0;
      margin-top: 40px;
  }
}
@media screen and (max-width: 48em) {
  .yourMenu .btn {
    float: right;
  }
}

@media screen and (max-width: 75em) {
  .yourStaff.section {
    padding-top: 50px;
  }
}
.yourStaff .text-content {
  position: relative;
}
@media screen and (max-width: 48em) {
  .yourStaff .text-content {
    overflow: hidden;
  }
}
@media screen and (min-width: 62em) {
  .yourStaff .text-content {
    padding-top: 85px;
    text-align: right;
    padding-right: 50px;
  }
}
.yourStaff .text-content .btn {
  margin-top: 15px;
}
@media screen and (max-width: 48em) {
  .yourStaff .text-content .btn {
    float: right;
  }
}
.yourStaff .spaceArrow {
    position: absolute;
    top: -240px;
    left: -300px;
}
.yourStaff img {
  display: block;
}
@media screen and (max-width: 48em) {
  .yourStaff img {
    margin: 30px  auto 0;
  }
}
.yourStaff img.arrow {
  margin-left: -50px;
}
@media screen and (max-width: 75em) {
  .yourStaff img.arrow {
    display: none;
  }
}

@media screen and (max-width: 48em) {
  .workFlow {
    border-top: 1px solid #cecece;
  }
}
@media screen and (min-width: 75em) {
  .workFlow {
    margin-top: -115px;

    &.normal{
      margin-top: 0;
      .inner{
        margin-left: -8vw;
      }
    }
  }
  .workFlow .text-content {
    padding-top: 90px;
  }
}


.workFlow .btn {
  margin-top: 15px;
}
@media screen and (max-width: 48em) {
  .workFlow .btn {
    float: right;
  }
}
.workFlow .image-content {
  text-align: right;
}

.workFlow {
    &.normal{
        margin-top: 0;
    }
}

/** PRODUCT MENU PAGE
===================================*/
.setup-part {
  position: relative;
  z-index: 10;
  padding: 3% 0 5%;
  margin: 0 auto;
}
.setup-part:before, .setup-part:after {
  content: " ";
  display: table;
}
.setup-part:after {
  clear: both;
}
.setup-part:before {
  display: none;
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 85%;
  bottom: auto;
  margin: auto;
  width: 1px;
  height: 18%;
  background-color: #b5b8ca;
}
@media screen and (min-width: 62em) {
  .setup-part:before {
    display: block;
  }
}
.setup-part.setupSecond:before {
  height: 43%;
  bottom: -29%;
}
@media screen and (min-width: 62em) {
  .setup-part.setupFourth {
    padding-bottom: 18%;
  }
}
.setup-part.setupFourth:before {
  height: 36%;
  bottom: 12%;
}
@media screen and (min-width: 62em) {
  .setup-part.setupSixth .thumb-tablet {
    margin-right: 95px;
  }
}

.desc-setup {
  overflow: hidden;
  max-width: 570px;
  margin: 0 auto;
}
@media screen and (max-width: 62em) {
  .desc-setup {
    text-align: left !important;
    margin: 0;
  }
}

.thumb-setup {
  width: 680px\9;
  max-width: 680px;
}

/*dikong   padding-top: 18%;*/

@media screen and (min-width: 62em) {
  .setupThird .desc-setup {
    padding-top: 0;
  }
}

@media screen and (min-width: 62em) {
  .setupFifth figure {
    margin-left: 75px;
  }
}

.setupSeventh.setup-part {
  padding-bottom: 0;
}
.setupSeventh.setup-part:before {
  height: 30%;
}
@media screen and (min-width: 48em) {
  .setupSeventh .title-numb {
    float: left;
    margin-right: 30px;
  }
}
.setupSeventh .content-text {
  overflow: hidden;
}
.setupSeventh .desc-setup {
  max-width: 838px;
  margin: 0 auto;
}
.setupSeventh:before {
  display: none;
}

/** SETUP SERVICE
===================================*/
.setup-srvce {
  position: relative;
  padding-top: 6%;
}
.setup-srvce:before, .setup-srvce:after {
  content: " ";
  display: table;
}
.setup-srvce:after {
  clear: both;
}
.setup-srvce:before {
  display: none;
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 1px;
  height: 112%;
  background-color: #b5b8ca;
}
@media screen and (min-width: 62em) {
  .setup-srvce:before {
    display: block;
  }
}
.setup-srvce.lastRow:before {
  display: none;
}

.srvce-side {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}




/*dikong*/
.srvce-side.setupFirst .ss-img-first{
margin-left: -5vw;
}

/*dikong*/
.srvce-side.setupSecond .ss-img-second{
 /*margin-right: -6vw;*/

     box-shadow: 0 20px 38px 0px #888787;
     -moz-box-shadow: 0 20px 38px 0px #888787;
     -webkit-box-shadow: 0 20px 38px 0px #888787;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    max-width: 460px;
    margin: 0 auto;
}

@media screen and (min-width: 62em) {
  .srvce-side.setupSecond .ss-img-second{
    margin: 32px auto 0;
  }
}

/*dikong*/
.srvce-side.setupThird .ss-img-third{
    margin-right: -5vw;
}

/*dikong*/
.srvce-side.setupFourth .ss-img-fourth{
margin-right: -5vw;
}

/*dikong*/
.srvce-side.setupFiveth .ss-img-fiveth{
margin-right:-5vw;
}

.srvce-side .desc-setup .content-text{
    margin-right: 35px;
}

/*dikong*/
.srvce-side .desc-setup .title-numb{
  margin-bottom: 8px;
  margin-right: 40px;
}

/*dikong*/
.srvce-side .desc-setup .title-numb p{
text-align: right;
}

/*dikong*/
/*.srvce-side .desc-setup .content-text p{
font-size: 18px;
}*/

@media (min-width: 992px) {
  .srvce-side {
    float: left;
    width: 50%;
  }
}
.srvce-side.full {
  float: none !important;
  margin: 0 auto;
}
@media screen and (min-width: 48em) {
  .srvce-side {
    padding: 0 35px;
  }
}
.srvce-side .dot-orange {
  right: -9px;
  left: auto;
  top: 39%;
  top: 40%;
}
.srvce-side.sixth figure {
  margin-right: -10vw;
}
/*.srvce-side .title-numb p {
  text-align: right;
  font-size: 46px;
  line-height: 53px;
}*/

/*dikong   padding: 10% 0 4%;*/
.introText-srvce {
  text-align: center;
  font-size: 19px;
  padding: 150px 0 37px;
  max-width: 920px;
  margin: 0 auto;
  position: relative;
}

/*dikong font-size: 68px;*/
.introText-srvce .title-compact{
font-size: 68px;
margin-bottom: 60px;
}



/*.introText-srvce .content-text{
font-size: 24px;
line-height: 30px!important;

    max-width: 850px;

}*/

.introText-srvce .content-text {
  line-height: 1.6em;
}
.introText-srvce .dot-orange {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.dot-orange {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  width: 17px;
  height: 17px;
  overflow: hidden;
  border: 3px solid white;
  background-color: #f15d38;
  display: none;
}
@media screen and (min-width: 62em) {
  .dot-orange {
    display: block;
  }
}

/** CONFIRMATION PAGE
===================================*/
.confirm-area {
  padding: 80px 0;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
.confirm-area:before, .confirm-area:after {
  content: " ";
  display: table;
}
.confirm-area:after {
  clear: both;
}
@media screen and (min-width: 62em) {
  .confirm-area {
    max-width: 68%;
  }
}
.confirm-area figure {
  margin-bottom: 45px;
}
.confirm-area .btn-orange {
  margin-top: 25px;
}
.confirm-area article {
  font-size: 24px;
  line-height: 1.4em;
}

/** PRICING
===================================*/

.price-orange{
    display: inline-block;
    vertical-align: top;
    width: 220px;
    padding: 25px 30px 15px;
    font-family: 'AvenirNext-dmbold';
    font-size: 48px;
    line-height: 1em;
    letter-spacing: -0.05em;
    background-color: #f04d24;
    color: white;
    text-align: center;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

@media screen and (max-width: 62em){
   .price-orange{
      padding: 15px 20px 10px;
      font-size: 30px;
   }
   .price-inner .price-ipadItem .desc h4{
        font-size: 25px;
        margin-bottom: 5px;
   }
   .title-lt, .prod-name{
      font-size: 30px;
   }
}

@media (min-width: 1200px){
.price-orange{
    width: 282px;

}
}
.price-orange .sup{
  top: 0.3em;
}

.price-orange.tp-left{

}

.prod-name {
  margin-bottom: 10px;
}

.price-guarantee {
  margin-bottom: 60px;
  padding-top: 40px;
}
@media screen and (max-width: 48em){
  .guarantee-list{
    padding-right: 15px;
    padding-left: 15px;
  }
}
.price-guarantee header {
  margin-bottom: 40px;
  text-align: center;
}
.price-guarantee h2 {
  font-family: 'quicksandregular';
  color: #2c2c2c;
  margin: 0;
  line-height: 1em;
  margin-bottom: 25px;
  padding-bottom: 23px;
  position: relative;
  font-size: 36px;
}
.price-guarantee h2 strong {
  font-family: 'quicksandbold';
  color: #f04d24;
}
.price-guarantee h2:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 90px;
  height: 3px;
  background-color: #2c2c2c;
}
.price-guarantee h3 {
  margin: 0;
  font-family: 'quicksandregular';
  font-size: 30px;
  line-height: 1em;
  color: #2c2c2c;
}

.guarantee-list li {
  padding: 0 15px;
  display: block;
  position: relative;
  color: #555555;
  padding-left: 25px;
  margin-bottom: 8px;
}

@media screen and (min-width: 40em) {
  .guarantee-list li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 48%;
  }
}

@media screen and (min-width: 72em){
  .guarantee-list li {
      width: 49%;
  }
  .guarantee-list li:nth-child(even){
      padding-right: 0;
      margin-left: 15px;
  }
}

.guarantee-list li:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  top: 0;
  color: #f04d24;
}

/*====== PRICING BOX ======*/
.pricing-box {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .pricing-box {
    float: left;
    width: 50%;
  }
}
.pricing-box .inside {
  position: relative;
  background-color: #929597;
  color: white;
  overflow: hidden;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 20px;
  padding-bottom: 70px;
}
@media screen and (min-width: 48em) {
  .pricing-box .inside {
    padding: 35px;
    padding-bottom: 70px;
  }
}
.pricing-box h2 {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font: 25px 'AvenirNext';
  color: white;
}
.pricing-box .paid-time {
  margin-bottom: 20px;
}
.pricing-box .paid-time ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  overflow: hidden;
}
.pricing-box .paid-time ul li {
  flex-grow: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.pricing-box .paid-time ul li a {
  color: #253a45;
  font-family: 'AvenirNext-light';
  font-size: 16px;
  display: block;
  padding: 15px;
}
.pricing-box .paid-time ul li.active, .pricing-box .paid-time ul li:hover {
  background-color: #f04d24;
}
.pricing-box .paid-time ul li.active a, .pricing-box .paid-time ul li:hover a {
  color: white;
}
.pricing-box .main-price p {
  font-family: 'AvenirNex-bold';
  font-size: 42px;
  line-height: 1.5em;
}
@media screen and (min-width: 48em) {
  .pricing-box .main-price p {
    font-size: 48px;
  }
}
.pricing-box .main-price sub {
  font-family: 'AvenirNext';
  font-size: 15px;
}
.pricing-box .adves ul, .pricing-box .adves li {
  margin: 0;
  padding: 0;
}
.pricing-box .adves li {
  display: block;
  margin-bottom: 8px;
  font-size: 17px;
}
.pricing-box .lineunder {
  width: 120px;
  height: 40px;
  margin: auto;
  position: absolute;
  border-top: 2px solid #d7d7d7;
  text-align: center;
  right: 0;
  left: 0;
  bottom: 0;
}
.pricing-box .lineunder:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 40px;
  width: 3px;
  background-color: #b2b4b5;
}

.paidtime-content{
   display: none;
}

/*=============== PRODUCT YOUR STAFF =================*/

/*dikong   padding: 3% 0 5%;*/
.top-tittle {
  position: relative;
  padding: 80px 0 5%;
  text-align: center;
}

@media screen and (min-width: 48em){
    .top-tittle {
        padding-top: 120px;
    }
}

.top-tittle h2 {
  font-size: 72px;
}

.top-tittle strong {
  font-family: quicksandregular;
  font-weight: normal;
}

/*dikong   max-width: 500px;margin: auto; */
.top-tittle p {
max-width: 940px;
    margin: auto;
    font-size: 24px;
    line-height: 30px;

}

.setup-part-pys {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  padding: 3% 0 5%;
}

.setup-part-pys .thumbGroup {
  max-width: 400px;
}
.setup-part-pys .thumb-setup {
  max-width: 540px;
}

@media screen and (min-width: 62em){
  .setup-part-pys.setupFirst{
    padding-bottom: 8%;
  }
}

@media screen and (max-width: 62em){
    .setup-part-pys .title-numb{
        text-align: center;
        margin-top: 20px;
    }
    .setup-part-pys .thumb-setup{
        margin: 0 auto !important;
    }

    .setup-part-pys  .space60{
         display: none;
    }
}

.setup-part-pys.setupFourth{
  padding-bottom: 0;
}
.setup-part-pys.setupFourth .thumb-center{
    max-width: none;
    text-align: left;
    max-width: 735px;
    margin: 0 auto;
}

@media screen and (min-width: 62em){
    .setup-part-pys.setupFourth .thumb-center{
      margin-left: 0
    }
}


/*dikong  max-width: 570px*/
.setup-part-pys .desc-setup{
  max-width: 730px;
}
.setup-part-pys.setupSecond .desc-setup{
  max-width: none;
  overflow: visible;
}
.setup-part-pys.setupSecond .thumb-right{
  margin-left: 0;
}
.setupSecond .desc-setup .thumb-arrow{
    top: 0;
    left: -21px;
    right: auto;
    top: -223px;
    max-width: 260px
}

/*dikong*/
.setup-part-pys .desc-setup h1{
 font-size: 125px;
}

/*dikong*/
.setup-part-pys .desc-setup p{
 font-size: 48px;
 line-height: 50px;
}

/*dikong*/
.setup-part-pys .desc-setup .content-text p{
font-size: 18px;
line-height: 30px;
}

@media screen and (max-width: 48em){
  .setup-part-pys .desc-setup h1{
      font-size: 90px;
  }
  .setup-part-pys .desc-setup p{
      font-size: 40px;
      line-height: 1em;
  }
}


@media screen and (min-width: 62em) {
  .setup-part-pys.setupFirst {

  }
}


/*dikong*/
@media screen and (min-width: 62em) {
  .setup-part-pys.setupFirst .content-text {
    float: left;
    font-size: 18px;
  }
}

.setup-part-pys.setupFirst .thumb-arrow {
  display: none;
  width: 180px;
}

/*dikong  left: 33%;top: 23px;*/
@media screen and (min-width: 62em) {
  .setup-part-pys.setupFirst .thumb-arrow {
    display: block;
    margin: 0;
    left:19%;
    margin-top: 10%;
    position: relative;
    top: 45px;
  }
}

@media screen and (min-width: 48em){
  .setup-part-pys.setupFirst figure {
    margin-left: -5vw;
  }
}

@media (min-width: 1400px) {
  .setup-part-pys.setupFirst .thumb-arrow {
    right: 9em;
  }
}
@media screen and (min-width: 62em) {
  .setup-part-pys.setupSecond .content-text {
    float: right;
  }
}

@media screen and (min-width: 62em) {
  .setup-part-pys.setupSecond .thumb-setup {
    max-width: 480px;
  }
}

.setup-part-pys.setupSecond .thumb-arrow {
  display: none;
}
@media screen and (min-width: 62em) {
  .setup-part-pys.setupSecond .thumb-arrow {
    display: block;
    position: absolute;
  }
}

.setup-part-pys.setupFourth .title-numb {

}
@media screen and (min-width: 62em) {
  .setup-part-pys.setupFourth .title-numb {
    display: block;
    float: left;
    margin-right: 30px;
  }
}
.setup-part-pys.setupFourth .desc-setup {
  max-width: 1000px;
  margin: 0 auto;
}

.container.container-pys {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/*@media (min-width: 1400px)
{
    .container.container-pys
    {
        width: 1170px;
    }
}*/
/** PRODUCT POM
===================================*/
.intro-pom {
  overflow: hidden;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
}
@media screen and (max-width: 62em){
  .intro-pom {
    margin-bottom: 50px;
    text-align: left;
  }
}

.intro-pom .title-lg{
  font-size: 50px;
}

/*.intro-pom .content-text{
  font-size: 24px;
}*/

@media (min-width: 992px) {
  .intro-pom {
    float: left;
    width: 33.33333%;
  }
}

.pom-wrap {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .pom-wrap {
    float: left;
    width: 66.66667%;
  }
}
@media screen and (min-width: 62em) {
  .pom-wrap {
    float: right !important;
  }
}
.pom-wrap .pom-itemWrap {
  position: relative;
  padding-bottom: 50px;
}
@media screen and (min-width: 62em) {
  .pom-wrap .pom-itemWrap {
    padding-bottom: 100px;
  }
}
.pom-wrap .pom-itemWrap:before {
  content: '';
  display: none;
  position: absolute;
  right: 0;
  top: 125px;
  width: 80%;
  height: 1px;
  background-color: #bbc1c7;
}
.pom-wrap .pom-itemWrap:first-child:after {
  display: none;
  content: '';
  position: absolute;
  right: 0;
  top: 125px;
  width: 1px;
  height: 100%;
  background-color: #bbc1c7;
}

@media screen and (min-width: 62em) {
  .pom-wrap .pom-itemWrap:first-child:after {
    display: block;
  }
  .pom-wrap .pom-itemWrap:before{
      display: block;
  }
}
.pom-wrap .vertiLine {
  position: relative;
}
.pom-wrap .vertiLine:before, .pom-wrap .vertiLine:after {
  content: " ";
  display: table;
}
.pom-wrap .vertiLine:after {
  clear: both;
}
.pom-wrap .vertiLine:before {
  display: none;
  content: '';
  position: absolute;
  right: 10px;
  top: -100px;
  width: 1px;
  height: 100%;
  background-color: #bbc1c7;
}
@media screen and (min-width: 48em) {
  .pom-wrap .vertiLine {
    height: 130px;
    width: 100%;
  }
  .pom-wrap .vertiLine:before {
    display: block;
  }
}

.pom-item {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.pom-item.last{

}

@media (min-width: 62em){
   .pom-item.last .pom-desc{
        overflow: hidden;
        position: absolute;
        left: 380px;
        width: 100%;
        text-align: left;
        top: 50px;
   }
   .pom-item.last figure{
      margin-left: 16px;
   }
}

@media (min-width: 768px) {
  .pom-item {
    float: left;
    width: 50%;
  }
}
.pom-item.colFourth:before {
  display: none;
  content: '';
  position: absolute;
  z-index: -1;
  right: 0;
  left: 0;
  margin: auto;
  top: 245px;
  width: 1px;
  height: 140%;
  background-color: #bbc1c7;
}
@media screen and (min-width: 62em) {
  .pom-item.colFourth:before {
    display: block;
  }
  .pom-item.colFourth .pom-desc {
    position: absolute;
    left: -200px;
    max-width: 338px;
    bottom: -170px;
  }
  .pom-item.colFourth .pom-desc .content-text {
    text-align: right;
  }
}
.pom-item figure {
  display: block;
  text-align: center;
  width: 250px;
  overflow: hidden;
  margin: 0 auto 35px;
}

@media screen and (min-width: 62em){
  .pom-item figure{
    width: 270px;
    max-width: none;
  }
}

.pom-item .inside {
  margin: 0 auto;
  max-width: 95%;
}
@media screen and (min-width: 48em) {
  .pom-item .inside {
   /* max-width: 250px;*/
  }
}
@media screen and (min-width: 82em) {
  .pom-item .inside {
    /*max-width: 300px;*/
  }
}

.pom-desc .title-numb {
  font-size: 30px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: left;
}
.pom-desc h1 {
  font-size: 55px;
}

.pom-desc p{
  font-size: 23px;
}

.pom-desc .content-text p{
  font-size: 16px;
}

/*dikong   font-size: 70px;*/
@media screen and (min-width: 62em) {
  .pom-desc h1 {
    font-size: 70px;
  }
}

/*============================== DIKONG =================================*/
.section-inner {
  max-width: 980px;
  margin: 0 auto;
}

.router-area {
  text-align: center;
}
.pricing-area {
  margin-bottom: 35px;
}

.router-dvc{
  padding: 40px 0;
  overflow: hidden;
}
@media screen and (min-width: 48em){
    .router-dvc{
        padding: 90px 0 40px;
    }
}
.router-dvc .router-padt {
  margin-bottom: 50px;
}

.router-dvc .router-padt h2 {
  margin-bottom: 60px;
  font-size: 36px;
}

.router-dvc .router-padt h2 strong {
  color: #f04d24;
}

.router-dvc .router-img {
  margin: auto;
}
@media screen and (min-width: 72em){
  .router-dvc .router-img img{
    margin-left: 98px;
  }
}

.router-dvc .router-desc {
  margin-bottom: 50px;
}

.router-dvc .router-desc span {
  font-family: 'AvenirNex-bold';
  color: #f04d24;
  font-size: 48px;
}

.router-dvc .router-desc h4 {
  font-family: 'quicksandregular';
  font-size: 30px;
  margin: 0;
  margin-bottom: 47px;
}

.router-dvc .router-desc .content-text {
  max-width: 735px;
  margin: auto;
  color: #555555;
}
.router-desc  header{
  margin-bottom: 47px;
}
.router-desc  header small{
  font-family: 'quicksandregular';
  font-size: 18px;
  display: block;
}
.price-help {
  background: #eaeaee;
  background: rgba(168, 172, 192, 0.2);
  margin-bottom: 60px;
  font-size: 22px;
}
@media screen and (max-width: 48em){
   .price-help{
    text-align: center;
   }
}



.price-help  .grey-drk {
  background: #929597;
  padding: 30px;
}

.price-help .grey-drk h2 {
  text-align: right;
  font-size: 35px;
  color: #fff;
  margin: 0;
}

@media (max-width: 767px){
  .price-help .grey-drk h2 {
    text-align: center;
    font-size: 35px;
  }
}

@media (min-width: 768px) and (max-width: 1200px){
  .price-help .grey-drk h2 {
  font-size: 47px;
}
}

@media screen and (min-width: 48em){
    .price-help .grey-drk h2{
      font-size: 60px;
    }
}

@media (min-width: 768px) and (max-width: 1200px){
  .price-help .grey-drk h2 {
  font-size: 47px;
}
}

.price-help .grey-lt {
    padding: 23px;
}

@media (min-width: 1200px){
.price-help .grey-lt {
  padding: 30px;
}
}


@media screen and (min-width: 62em){
  .price-help .grey-lt .content-text{
    max-width: 500px;
  }
}


@media (min-width: 768px) and (max-width: 1200px){
.price-help .grey-lt .content-text{
  font-size: 18px;
}

}


@media screen and (min-width: 62em){
  .price-help  .grey-drk, .price-help  .grey-lt{
    padding-top: 70px;
    padding-bottom: 70px
  }
  .price-help .grey-lt .content-text{
     padding-top: 25px;
  }
}


/** PRICE IPAD
===================================*/
.or-space{
  text-align: center;
  font-size: 36px;
  font-family: 'quicksandregular';
  position: relative;
  color: #555555;
  margin-top:85px;
}

@media (max-width: 767px){
  .or-space{
     margin:50px 0;
  }
}

.or-space span{
  display: inline-block;
  padding: 0  30px;
  position: relative;
  letter-spacing: -0.07em;
  margin-top: 85px;
}

@media (max-width: 767px){
 .or-space span{
  margin-top: 0;
}
}
@media  screen and (max-width: 62em){
   .or-space span{
      display: none;
   }
}

.price-ipad .prod-intro .title-lt, .price-ipad .prod-intro .prod-name {
  text-align: center;
}


@media screen and (min-width: 62em){
    .price-ipad .or-space{
        margin-top: 206px;
    }
}
.price-ipad{

}
.price-ipad .prod-intro p {
  text-align: center;
  max-width: 525px;
  margin: auto;
  color: #555555;
}
.price-inner .price-ipadItem {
  position: relative;
  color: #555555;
}

.price-inner .price-ipadItem figure{
    position: relative;
}


@media (max-width: 767px){
.price-inner .price-ipadItem figure{
    width: 65%;
    margin: auto;
}
}

@media (max-width: 1200px){
.price-inner .price-ipadItem .desc{
  margin-bottom: 20px;
      margin-top: 20px;
}

}

@media (max-width: 767px){
.price-inner .price-ipadItem .desc{
  text-align: center;
}

}



.price-inner .price-ipadItem .desc h4 {
  font-size: 36px;
  font-family: 'quicksandregular';
}


@media screen and (min-width: 75em){
    .price-inner .price-ipadItem.left{
        top: 52px;
    }
}
.price-inner .price-ipadItem.left .desc h4 {
    position: relative;
}

@media (min-width: 1200px){
 .price-inner .price-ipadItem.left .desc h4 {
    position: absolute;
    right: 57px;
    top: 147px;
    color: #555555;
}
}

@media screen and (min-width: 75em){
  .price-inner .price-ipadItem.left .img-rotation {
      margin-left: -85px;
  }
}

 .price-inner .price-ipadItem.left .img-rotation{
   text-align: center;
 }
@media screen and (min-width: 75em){
  .price-inner .price-ipadItem.left .img-rotation{
    text-align: left;
  }

  .price-inner .price-ipadItem.left .img-rotation img {
    transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    text-align: left;
  }
}

@media (max-width: 1200px){
.price-inner .price-ipadItem.left .img-rotation img {

}
}

.price-inner .price-ipadItem.left .price-orange{
  position: relative;
  z-index: -1;
  text-align: center;
}

@media (min-width: 1200px){
 .price-inner .price-ipadItem.left .price-orange{
  position: absolute;
  right: 0;
  bottom: 182px;
  z-index: -1;
  text-align: right;
}
}

.price-inner .price-ipadItem.right .img-rotation {
}


@media screen and (min-width: 75em){
  .price-inner .price-ipadItem.right .desc h4 {
    position: absolute;
    top: 199px;
    left: 57px;
  }
}


  .price-inner .price-ipadItem.right .desc span {
      position: relative;
      z-index: -1;
      text-align: center;
  }

  @media (min-width: 1200px){
     .price-inner .price-ipadItem.right .desc span {
      position: absolute;
      left: 0;
      bottom: 133px;
      z-index: -1;
      text-align: left;
  }
  }

 .price-inner .price-ipadItem.right .img-rotation img {
      margin-left: 0px;
  }


@media (min-width: 1200px){
  .price-inner .price-ipadItem.right .img-rotation img {
      margin-left: 205px;
  }
}


.price-inner .price-ipadItem.right .img-rotation{
  text-align: center;
}
@media screen and (min-width: 75em){
  .price-inner .price-ipadItem.right .img-rotation{
    text-align: left;
  }
  .price-inner .price-ipadItem.right .img-rotation img {
    transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);

  }
}

@media (max-width: 1200px){
 .price-inner .price-ipadItem.right .img-rotation img {

}
}

/** ENCRYPT
===================================*/
.encrypt {
  background: #fff;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  padding: 70px 0 15px;
}
.encrypt:bafore,
.encrypt:after{
    content: '';
    display: table;
}
.encrypt:after{
  clear: both
}

.encrypt .title-lg {
  text-align: center;
  font-size: 36px;
}

.encrypt .encrypt-inner {
  margin: auto;
  max-width: 580px;
  position: relative;
  text-align: right;
}
.encrypt .prod-name{
    font-family: 'quicksandregular';
}
@media screen and (min-width: 75em){
  .encrypt .encrypt-inner{
      margin-left: 362px;
  }
}
.encrypt .encrypt-inner .price-item{
  text-align: center;
}


.encrypt .encrypt-inner .encrypt-img img {
  z-index: 1;
  position: relative;
}

@media (max-width: 1200px){
 .encrypt .encrypt-inner .encrypt-img img {
  margin-bottom: 20px;
}
}

@media (max-width: 767px){
 .encrypt .encrypt-inner .encrypt-img img {

}
}



@media screen and (min-width: 62em){
  .encrypt .encrypt-inner .price-item .prod-name {
    position: absolute;
    top: 106px;
    right: 405px;
    text-align: right;
    width: 220px;
  }
}

.encrypt .encrypt-inner .price-item .price-orange {
    position: relative;
    text-align: center;
}

@media (min-width: 1200px){
  .encrypt .encrypt-inner .price-item .price-orange {
    position: absolute;
    bottom: 45px;
    width: 450px;
    right: 95px;
    text-align: left;
}
}

.price-ipad{
  overflow: hidden;
  text-align: center;
}
@media screen and (min-width: 75em){
  .price-ipad{
    text-align: left;
  }
  .price-ipad{
    height: 585px;
  }
}
.prod-intro {
   font-size: 16px;
   font-family: 'AvenirNext';
   line-height: 1.4em;
   text-align: center;
   max-width: 530px;
   margin: 0 auto 30px;
}


/** TWO PRODUCT ROW
===================================*/
.two-prod-row{
  background-color: white;
  padding: 80px 0 20px;
  border-bottom: 1px solid #bfbfbf;
}

.two-prod-row.cash-drawer{
  padding: 250px 0 20px;
}
@media screen and (max-width: 75em){
  .two-prod-row.cash-drawer {
   padding: 50px 0;
  }
}

@media (max-width: 767px){
  .two-prod-row.cash-drawer{
  padding: 80px 0 20px;
}
}

.two-prod-row .price-item{
    position: relative;
    z-index: 5;
}

@media (max-width: 75em){
  .two-prod-row .price-item{
    text-align: center;
  }
}

.two-prod-row .price-item.wireless-printing{
    text-align: center;
}

@media (max-width: 767px){
  .two-prod-row .price-item.wireless-printing{
    margin-bottom: 50px;
}
}

.two-prod-row .price-item.impact-print-left h4{
    position: relative;
    text-align: center;
}

@media (min-width: 1200px){
.two-prod-row .price-item.impact-print-left h4{
    position: absolute;
            right: 65px;
text-align: left;
    top: 73px;
}
}

.two-prod-row .price-item.impact-print-right h4{
    position: relative;
    text-align: center;

}

@media (min-width: 1200px){
.two-prod-row .price-item.impact-print-right h4{
    position: absolute;
        left: 30px;
    top: 73px;
    text-align: left;
}
}

.two-prod-row .price-item.thermal-printers-left h4{
    position: relative;
    text-align: center;
}

@media (min-width: 1200px){
.two-prod-row .price-item.thermal-printers-left h4{
    position: absolute;
     right: -40px;
    top: 117px;
}
}

.two-prod-row .price-item.thermal-printers-right h4{
    position: relative;
     text-align: center;
}

@media (min-width: 1200px){
.two-prod-row .price-item.thermal-printers-right h4{
    position: absolute;
        left: 30px;
    top: 150px;
}
}

.two-prod-row .price-item.cash-drawer-left h4{
    position: relative;
    text-align: center;
}

@media (min-width: 1200px){
.two-prod-row .price-item.cash-drawer-left h4{
    position: absolute;
    right: -16px;
    top: 80px;
}
}

.two-prod-row .price-item.cash-drawer-right h4{
    position: relative;
    text-align: center;

}

@media (min-width: 1200px){

.two-prod-row .price-item.cash-drawer-right h4{
    position: absolute;
        left: 40px;
        top: 82px;

}
}

.price-item h4{
   font-size: 30px;
   font-family: 'quicksandregular';
}

@media (min-width: 1200px){
.price-item h4{
  margin: 0;
  margin-bottom: 15px;
   font-size: 36px;
}

}

@media screen and (min-width: 75em){
    .ipad-stand .price-item .price-orange{
       position: absolute;
           z-index: -1;
    }

    .impact-print-area .price-item .price-orange{
       position: absolute;
           z-index: -1;
    }

    .thermal-printers-area .price-item .price-orange{
       position: absolute;
           z-index: -1;
    }

    .cash-drawer-area .price-item .price-orange{
       position: absolute;
           z-index: -1;
    }

    .two-prod-row .ipad-stand .price-item{
      margin-top: -169px;
    }

    .ipad-stand .or-space{
      margin-top: 85px;
    }

    .impact-print-area .or-space{
      margin-top: 85px;
    }

    .price-itemCenter .or-space{
      margin-top: 85px;
    }



}



.two-prod-row .price-item.left figure img{
  margin-left: 0;
}

@media (max-width: 767px){
 .two-prod-row .price-item.left figure img{

}
}

@media (max-width: 1200px){
  .two-prod-row .price-item.left figure img{
  margin-bottom: 20px;
}
}

@media (min-width: 1200px){
  .two-prod-row .price-item.left figure img{
  margin-left: -100px;
}
}

.two-prod-row .price-item.right figure img{
   margin-left: 0;
}

@media (max-width: 1200px){
  .two-prod-row .price-item.right figure img{
   margin-bottom: 20px;
}
}

@media (max-width: 767px){
  .two-prod-row .price-item.right figure img{

}
}


@media (min-width: 1200px){
  .two-prod-row .price-item.right figure img{
   margin-left: 158px;
}
}

@media (max-width: 1200px){
  .two-prod-row .price-item.wireless-printing figure img{
  margin-bottom: 20px;
}
}

@media (max-width: 767px){
  .two-prod-row .price-item.wireless-printing figure img{

}
}

.two-prod-row .price-item.left .price-orange{
    text-align: center;
}

@media (min-width: 1200px){
.two-prod-row .price-item.left .price-orange{
    left: 173px;
    bottom: 50px;
    text-align: right;
}
}

.two-prod-row .price-item.right .price-orange {

  text-align: center;
}

@media (min-width: 1200px){
.two-prod-row .price-item.right .price-orange {
  left: 0;
  bottom: 73px;
  text-align: left;
}
}

.two-prod-row .price-item.left .price-orange.tp-left{
    text-align: center;
    width: 220px;

}

@media (min-width: 1200px){
.two-prod-row .price-item.left .price-orange.tp-left{
        left: 99px;
    bottom: 20px;
    text-align: right;
    width: 325px;

}
}
.two-prod-row .price-item.right .price-orange.tp-right {
  text-align: center;
}

@media (min-width: 1200px){
.two-prod-row .price-item.right .price-orange.tp-right {
  left: 0;
  bottom: 80px;
  text-align: left;
}
}

.two-prod-row .price-item.left .price-orange.cd-left{
    text-align: center;
    width: 220px;

}

@media (min-width: 1200px){
.two-prod-row .price-item.left .price-orange.cd-left{
 left: 70px;
    bottom: 37px;
    text-align: right;
    width: 390px;

}
}

.two-prod-row .price-item.right .price-orange.cd-right {
    text-align: center;
    width: 220px;
}

@media (min-width: 1200px){

.two-prod-row .price-item.right .price-orange.cd-right {
    left: 0;
    bottom: 9px;
    text-align: left;
    width: 500px;
}
}

.two-prod-row .price-item .price-orange.tp-center{
position: relative;
}


.ipad-stand .price-item.left h4{
    margin-left: 0;
    margin-bottom: 0;
    text-align: center;
}

@media (min-width: 1200px){
.ipad-stand .price-item.left h4{
    margin-left: -35px;
    margin-bottom: -3px;

    text-align: left;
}
}

.ipad-stand .price-item.right .price-orange{

  text-align: center;
}


@media (min-width: 1200px){
.ipad-stand .price-item.right .price-orange{
  left: 0;
  bottom: 120px;
  text-align: left;
}
}

.ipad-stand .price-item.right h4{
    text-align: center;
    margin-left: 0;
}

@media (min-width: 1200px){
.ipad-stand .price-item.right h4{
    text-align: center;
    margin-left: 178px;
}
}

.apple-printer-outer{
position: relative;
    top: 250px;
}

@media (max-width: 75em){
.apple-printer-outer{
position: relative;
    top: 0px;
}
}


@media (min-width: 1200px){
.apple-printer-outer{
    top: 190px;
}

}

.apple-printer-outer .apple-printer{
text-align: center;
}

/** FAQ
===================================*/
.faq{
    overflow: hidden;
    padding: 80px 0;
}
@media screen and (max-width: 62em){
  .faq .panel-body{
    padding-left: 0;
    padding-right: 0;
  }
}

/*====== SECTION CENTER ======*/
.section-center:before,
.section-center:after{
    content: '';
    display: table;
}
.section-center:after{
  clear: both;
}

.section-center{
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px){
  .section-center{
       width: 1000px;
       margin: 0 auto;
       padding:0;
  }
}


/*====== ACCORDION ======*/

.panel{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background: transparent;
        box-shadow: none;

}

.panel-group .panel{
  border-radius: 0;
}

.panel-default > .panel-heading{
  background: transparent;
}


.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: 0;
}

.panel-title{
  font-size: 25px;
}

@media (max-width: 1200px){
.panel-title{
  font-size: 22px;
}
}

.accordion-toggle span{
padding-right: 30px;
}

.panel-group {
    margin-bottom: 20px;
    max-width: 950px;
    margin: auto;
}

.panel-body {
    padding: 20px 69px;
}

@media (max-width: 480px){
 .panel-body {
    padding: 20px 22px;
}
}

/*=============*/
ul.tabs{
      margin: 0px;
      padding: 0px;
      list-style: none;
    }
    ul.tabs li{
      background: none;
      color: #222;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
    }

    ul.tabs li.current{
      background: #ededed;
      color: #222;
    }

    .tab-content{
      display: none;
      padding: 15px;
    }

    .tab-content.current{
      display: inherit;
    }

.inputToggle{
  display: none;
}

/*ADDTIONAL SECTION HOMEPAGE*/
.case-study{
    overflow: hidden;
    padding: 100px 0;
    .head{
      font-size: 18px;
      color: #34424b;
      text-align: center;
      margin-bottom: 70px;
    }

    .case-studyMore{
        text-align: center;
        margin-top: 40px;
    }
}
.case-studyItem{
    color: #34424b;
    font-size: 18px;
    line-height: 1.4em;
    margin-bottom: 30px;
   .inside{
      background: white;
      overflow: hidden;
   }
   a{
      text-decoration: none;
      color: #34424b;
   }
   figure{
     position: relative;
     overflow: hidden;
     text-align: center;
   }
   figcaption{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#f04c24, 0.6);
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      top:-200%;
      -webkit-transition: top 0.4s;
      -moz-transition: top 0.4s;
      -o-transition: top 0.4s;
      -ms-transition: top 0.4s;
      transition: top 0.4s;

      .fa{
         font-size: 65px;
         color: white;
      }
   }

     .desc{
        padding: 25px;
        position: relative;
        z-index: 5;
        @media screen and (min-width: 62em){
          padding: 33px;
        }

        .study-author{
            font-size: 0.8em;
            display: block;
            text-align: right;
            margin-top: 30px;
        }

        &:before{
            content: '';
            position: absolute;
            left: 9%;
            top: -28px;
            width: 0;
            height: 0;
            border-bottom: 30px solid white;
            border-right: 30px solid transparent;
        }
     }


     .btn-detail{
        display: inline-block;
        vertical-align: middle;
        padding: 12px 40px 12px 12px;
        border: 2px solid white;
        color: white;
        font-size: 16px;
        line-height: 1em;
        text-transform: uppercase;
        font-family: 'quicksandbold';
        min-width: 135px;
        background: url("../img/dtl_icon.png") 86% 50% no-repeat;
        background-size: 18px;
        -moz-background-size: 18px;
        -webkit-background-size: 18px;
        transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;

        &:hover{
           text-decoration: none;
           background-color: #f04c24;

        }
     }

     &:hover{
        figcaption{
            top:0;
        }
     }
}

.testimonials{
  @include clearfix();
  margin-bottom: 60px;
  @media screen and (min-width: 48em){
     margin-bottom: 95px;
  }
  .head{
      font-size: 18px;
      color: #34424b;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 70px;
      @media screen and (min-width: 48em){
          width: 600px;
      }
  }
}

.testiItem{
  font-size: 18px;
  color: #34424b;
  line-height: 1.4em;
  .box-white{
    background-color: white;
    @include clearfix();
    padding: 23px;
    position: relative;
    @media screen and (min-width: 62em){
      padding: 38px;
      width: 88%;
      float: right;
    }
  }

  .desc{
      @media screen and (min-width: 62em){
        padding-left: 35px;
      }
      .author{
            font-size: 0.8em;
            display: block;
            margin-top: 28px;
        }
  }

  figure{
    @include border-radius(100%);
    width: 98px;
    height: 98px;
    margin: 0 auto 20px;
    @media screen and (min-width: 62em){
      margin: 0;
      position: absolute;
      top: 30%;
      left: -50px;
    }
     
      img{
         @include border-radius(100%);
      }
  }
}

@import 'case-studies';
@import 'single-page';
@import 'blog';
@import 'aside';
